<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzl.module.pro.dal.mysql.priceinqury.PriceInquryMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <resultMap id="inquryAndChilds" type="com.zkzl.module.pro.controller.admin.priceinqury.vo.PriceInquryAndChildsVO">
        <id column="id" property="id" />
        <result column="price_inqury_id" property="priceInquryId" />
        <result column="seller_company_name" property="sellerCompanyName" />
        <result column="seller_company_address" property="sellerCompanyAddress" />
        <result column="seller_contact" property="sellerContact" />
        <result column="seller_tel" property="sellerTel" />
        <result column="buyer_ideal_price" property="buyerIdealPrice" />
        <result column="buyer_company_address" property="buyerAddress" />
        <result column="buyer_company_name" property="buyerCompanyName" />
        <result column="buyer_contact" property="buyerContactName" />
        <result column="buyer_tel" property="buyerMobile" />
        <result column="price" property="price" />
        <result column="discount" property="discount" />
        <result column="total" property="total" />
        <result column="price_date" property="priceDate" />
        <result column="effective_date" property="effectiveDate" />
        <result column="status" property="status" />
        <collection property="childs" ofType="com.zkzl.module.pro.controller.admin.priceinqury.vo.PriceInquryChildsVO">
            <id column="ppicid" property="id" />
            <result column="price_inqury_id" property="priceInquryId" />
            <result column="supply_info_id" property="supplyInfoId" />
            <result column="product_id" property="productId" />
            <result column="hs_serial" property="hsSerial" />
            <result column="product_desc" property="productDesc" />
            <result column="product_size" property="productSize" />
            <result column="product_color" property="productColor" />
            <result column="product_g" property="productG" />
            <result column="package_way" property="packageWay" />
            <result column="box_length" property="boxLength" />
            <result column="box_height" property="boxHeight" />
            <result column="box_wide" property="boxWide" />
            <result column="volume" property="volume" />
            <result column="price" property="price" />
            <result column="unit_price" property="unitPrice" />
            <result column="gross_weight" property="grossWeight" />
            <result column="net_weight" property="netWeight" />
            <result column="mount" property="mount" />
        </collection>
        <collection property="productBaseVOList" ofType="com.zkzl.module.pro.controller.admin.product.vo.ProductBaseVO">
            <result column="product_id" property="productId"/>
            <result column="type_id" property="typeId"/>
            <result column="product_name_cn" property="productNameCn"/>
            <result column="product_name_en" property="productNameEn"/>
            <result column="product_model" property="productModel"/>
            <result column="hs_no" property="hsNo"/>
            <result column="packaging_method_cn" property="packagingMethodCn"/>
            <result column="packaging_method_en" property="packagingMethodEn"/>
            <result column="colour_cn" property="colourCn"/>
            <result column="colour_en" property="colourEn"/>
            <result column="use_classification_cn" property="useClassificationCn"/>
            <result column="use_classification_en" property="useClassificationEn"/>
            <result column="delivery_method_cn" property="deliveryMethodCn"/>
            <result column="delivery_method_en" property="deliveryMethodEn"/>
            <result column="gram_weight" property="gramWeight"/>
            <result column="size" property="size"/>
            <result column="box_gauge" property="boxGauge"/>
            <result column="volume" property="volume"/>
            <result column="gross_weight" property="grossWeight"/>
            <result column="net_weight" property="netWeight"/>
            <result column="shipped" property="shipped"/>
            <result column="mount" property="mount" />
        </collection>
    </resultMap>


    <select id="pageManage" resultType="com.zkzl.module.pro.controller.admin.priceinqury.vo.PriceInquryPageVO">
        /*管理员查看询价表*/
        select id,price_inqury_id priceInquryId,buyer_company_name companyName,buyer_contact contactName,buyer_tel mobile,
               create_time createTime,`status`
        from pro_price_inqury
        <where>
            <if test="param.buyerCompanyName != null and param.buyerCompanyName != ''">
                and buyer_company_name like concat('%',#{param.buyerCompanyName},'%')
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status}
            </if>
        </where>
    </select>
    <select id="pageCommon" resultType="com.zkzl.module.pro.controller.admin.priceinqury.vo.PriceInquryPageVO">
        /*业务员查看询价表*/
        select id,price_inqury_id priceInquryId,buyer_company_name companyName,buyer_contact contactName,buyer_tel mobile,
        create_time createTime,`status`
        from pro_price_inqury
        where status in (0,5)
            <if test="param.buyerCompanyName != null and param.buyerCompanyName != ''">
                and buyer_company_name like concat('%',#{param.buyerCompanyName},'%')
            </if>
    </select>
    <select id="getPriceInquryAndChilds" resultMap="inquryAndChilds">
        /*查看询价表及子表*/
        select ppi.*,
               ppic.id ppicid,
               ppic.price_inqury_id,
               ppic.supply_info_id,
               ppic.product_id,
               ppic.hs_serial,
               ppic.product_desc,
               ppic.product_size,
               ppic.product_color,
               ppic.product_g,
               ppic.package_way,
               ppic.box_length,
               ppic.box_height,
               ppic.box_wide,
               ppic.volume,
               ppic.price,
               ppic.gross_weight,
               ppic.net_weight,
               ppic.mount,
               ppic.unit_price,
               pp.*
        from pro_price_inqury ppi
                 left join pro_price_inqury_child ppic on ppi.price_inqury_id = ppic.price_inqury_id
                 left join pro_product pp on ppic.product_id = pp.product_id
        where ppi.id = #{0}
    </select>
    <select id="inquryHistory"
            resultType="com.zkzl.module.pro.controller.app.priceinqury.vo.PriceInquryHistoryVO">
        /*用户询价历史*/
        select ppi.id,ppi.price_inqury_id,ppi.create_time,ppi.price,ppi.discount,ppi.total,
               ppi.buyer_ideal_price,ppi.price_date,ppi.status
        from pro_price_inqury ppi
        where ppi.buyer_company_id = #{loginUserId}
    </select>
</mapper>
