<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzl.module.pro.dal.mysql.order.ProOrderMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <resultMap id="orderRespVO" type="com.zkzl.module.pro.controller.admin.order.vo.OrderRespVO">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="price_inqury_id" property="priceInquryId"/>
        <result column="seller_company_name" property="sellerCompanyName"/>
        <result column="seller_company_address" property="sellerCompanyAddress"/>
        <result column="seller_contact" property="sellerContact"/>
        <result column="seller_tel" property="sellerTel"/>
        <result column="buy_seller_company_name" property="buySellerCompanyName"/>
        <result column="buy_seller_company_address" property="buySellerCompanyAddress"/>
        <result column="buy_seller_contact" property="buySellerContact"/>
        <result column="buy_seller_tel" property="buySellerTel"/>
        <result column="price" property="price"/>
        <result column="discount" property="discount"/>
        <result column="total" property="total"/>
        <result column="price_date" property="priceDate"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="operator" property="operator"/>
        <collection property="orderGoodsBaseVOS"
                    ofType="com.zkzl.module.pro.controller.admin.ordergoods.vo.OrderGoodsBaseVO">
            <result column="order_child_id" property="orderChildId"/>
            <result column="product_id" property="productId"/>
            <result column="hs_serial" property="hsSerial"/>
            <result column="product_desc" property="productDesc"/>
            <result column="product_size" property="productSize"/>
            <result column="product_color" property="productColor"/>
            <result column="product_g" property="productG"/>
            <result column="package_way" property="packageWay"/>
            <result column="box_length" property="boxLength"/>
            <result column="box_height" property="boxHeight"/>
            <result column="box_wide" property="boxWide"/>
            <result column="mount" property="mount"/>
            <result column="unit_price" property="unitPrice"/>
            <result column="price" property="price"/>
            <result column="volume" property="volume"/>
            <result column="gross_weight" property="grossWeight"/>
            <result column="net_weight" property="netWeight"/>
            <result column="remark" property="remark"/>
        </collection>
    </resultMap>
    <select id="getOrderByOrderId" resultMap="orderRespVO">
        select po.*,
               pcu.company_name buy_seller_company_name,
               pcu.address      buy_seller_company_address,
               pcu.contect_name buy_seller_contact,
               su.mobile        buy_seller_tel,
               pog.*
        from pro_order po
                 left join pro_order_goods pog on po.order_id = pog.order_id
                 left join system_users su on po.user_id = su.id
                 left join pro_cus_user pcu on pcu.user_id = po.user_id
        where po.order_id = #{orderId}
        group by po.order_id
    </select>

    <resultMap id="orderDescResult" type="com.zkzl.module.pro.controller.app.order.vo.OrderDescVO">
        <result property="orderId" column="order_id" />
        <result property="sellerCompanyName" column="seller_company_name" />
        <result property="sellerCompanyAddress" column="seller_company_address" />
        <result property="sellerContact" column="seller_contact" />
        <result property="sellerTel" column="seller_tel" />
        <result property="buyerContactName" column="buyer_contact" />
        <result property="buyerCompanyAddress" column="buyer_company_address" />
        <result property="buyerCompanyName" column="buyer_company_name" />
        <result property="buyerMobile" column="buyer_tel" />
        <collection property="goods" ofType="com.zkzl.module.pro.controller.app.order.vo.OrderDescGoodsVO">
            <id property="id" column="id" />
            <result property="productId" column="product_id" />
            <result property="productNameCn" column="product_name_cn" />
            <result property="productNameEn" column="product_name_en" />
            <result property="hsSerial" column="hs_serial" />
            <result property="productDesc" column="product_desc" />
            <result property="productSize" column="product_size" />
            <result property="productColor" column="product_color" />
            <result property="productG" column="product_g" />
            <result property="packageWay" column="package_way" />
            <result property="boxLength" column="box_length" />
            <result property="boxHeight" column="box_height" />
            <result property="boxWide" column="box_wide" />
            <result property="mount" column="mount" />
            <result property="unitPrice" column="unit_price" />
            <result property="price" column="price" />
            <result property="volume" column="volume" />
            <result property="grossWeight" column="gross_weight" />
            <result property="netWeight" column="net_weight" />
        </collection>
        <collection property="productBaseVOList" ofType="com.zkzl.module.pro.controller.admin.product.vo.ProductBaseVO">
            <result column="product_id" property="productId"/>
            <result column="type_id" property="typeId"/>
            <result column="product_name_cn" property="productNameCn"/>
            <result column="product_name_en" property="productNameEn"/>
            <result column="product_model" property="productModel"/>
            <result column="hs_no" property="hsNo"/>
            <result column="packaging_method_cn" property="packagingMethodCn"/>
            <result column="packaging_method_en" property="packagingMethodEn"/>
            <result column="colour_cn" property="colourCn"/>
            <result column="colour_en" property="colourEn"/>
            <result column="use_classification_cn" property="useClassificationCn"/>
            <result column="use_classification_en" property="useClassificationEn"/>
            <result column="delivery_method_cn" property="deliveryMethodCn"/>
            <result column="delivery_method_en" property="deliveryMethodEn"/>
            <result column="gram_weight" property="gramWeight"/>
            <result column="size" property="size"/>
            <result column="box_gauge" property="boxGauge"/>
            <result column="volume" property="volume"/>
            <result column="gross_weight" property="grossWeight"/>
            <result column="net_weight" property="netWeight"/>
            <result column="shipped" property="shipped"/>
            <result column="mount" property="mount" />
        </collection>

    </resultMap>
    <select id="orderDesc" resultMap="orderDescResult">
        select
            po.order_id,po.seller_company_name,po.seller_company_address,
            po.seller_contact,po.seller_tel,

            ppi.buyer_contact,
            ppi.buyer_company_address,
            ppi.buyer_company_name,
            ppi.buyer_tel,

            pp.*,
            pog.id,pog.hs_serial,pog.product_desc,pog.product_size,pog.product_color,
            pog.product_g,pog.package_way,pog.box_length,pog.box_height,pog.box_wide,
            pog.mount,pog.unit_price,pog.price,pog.volume,pog.gross_weight,pog.net_weight
        from pro_order po
                 left join pro_price_inqury ppi on ppi.price_inqury_id = po.price_inqury_id
                 left join pro_order_goods pog on po.order_id = pog.order_id
                 left join pro_product pp on pog.product_id = pp.product_id
        where po.order_id = #{0}
    </select>
    <select id="getPage" resultType="com.zkzl.module.pro.dal.dataobject.order.OrderDO">
        select po.*,su.username
        from pro_order po
        left join system_users su on po.user_id = su.id
        <where>
            <if test="req.username != null and req.username != ''">
                and su.username like concat('%',#{req.username},'%')
            </if>
            <if test="req.priceDate !=null and req.priceDate.length>0">
                and po.price_date between #{req.priceDate.[0]} and #{req.priceDate.[1]}
            </if>
            <if test="req.effectiveDate !=null and req.effectiveDate.length>0">
                and po.effective_date between #{req.effectiveDate.[0]} and #{req.effectiveDate.[1]}
            </if>
            <if test="req.status != '' and req.status != null">
                and po.status = #{req.status}
            </if>
            <if test="req.createTime!=null and req.createTime.length>0">
                and po.create_time between #{req.effectiveDate.[0]} and #{req.effectiveDate.[1]}
            </if>
        </where>
    </select>

    <resultMap id="orderDO" type="com.zkzl.module.pro.dal.dataobject.order.OrderDO">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="price_inqury_id" property="priceInquryId"/>
        <result column="seller_company_name" property="sellerCompanyName"/>
        <result column="seller_company_address" property="sellerCompanyAddress"/>
        <result column="seller_contact" property="sellerContact"/>
        <result column="seller_tel" property="sellerTel"/>
        <result column="price" property="price"/>
        <result column="discount" property="discount"/>
        <result column="total" property="total"/>
        <result column="price_date" property="priceDate"/>
        <result column="effective_date" property="effectiveDate"/>
        <result column="remarks" property="remarks"/>
        <result column="status" property="status"/>
        <result column="deposit_pic" property="depositPic"/>
        <result column="balance_pic" property="balancePic"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="appGetOrderPage" resultMap="orderDO">
        select po.id,
               po.order_id,
               po.price_inqury_id,
               po.seller_company_name,
               po.seller_company_address,
               po.seller_contact,
               po.seller_tel,
               po.user_id,
               po.price,
               po.discount,
               po.total,
               po.price_date,
               po.effective_date,
               ppi.buyer_ideal_price remarks,
               po.status,
               pe.deposit_pic,
               pe.balance_pic,
               po.create_time
        from pro_order po
                 left join pro_price_inqury ppi on po.price_inqury_id = ppi.price_inqury_id
                 left join pro_evidence pe on po.order_id = pe.order_id
        where po.user_id = #{pageReqVO.userId}
    </select>
</mapper>
